@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Silkscreen', cursive;
    /* font-family: 'Space Mono', monospace; */
}

h1{
    text-align: center;
    padding: 20% 0 0 0;
    color: rgb(230, 144, 254);
    font-size: 150px;
    position: relative;
    z-index: 100;
}

h2{
    text-align: center;
    padding: 5% 0 0 0; 
    font-size: 75px;
    position: relative;
    z-index: 100;
}
a{
    text-decoration: none;
    color: rgb(70, 69, 69);
}
a:hover {
    color: rgb(145, 254, 144);
}

.wrapper {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.wrapper::before{
    position: absolute;
    content: '';
    height: 300px;
    width: 600px;
    border-radius: 50%;
    left: -25%;
    top: 42%;
    background: linear-gradient(20deg,rgb(144, 219, 254),rgb(145, 254, 144),rgb(254, 144, 144));
    animation: object1 18s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 45%;
    top: 75%;
    background: linear-gradient(100deg,rgb(144, 219, 254),rgb(254, 144, 144),rgb(145, 254, 144));
    animation: object2 16s linear infinite;
}

@keyframes object1 {
    50%{
        left: 35%;
        top: 60%;
        width: 10%;
        height: 40%;
    }
    
}
@keyframes object2 {
    50%{
        left: 55%;
        top: 10%;
        width: 20%;
        height: 40%;
    }
    
}