@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Silkscreen', cursive;
    /* font-family: 'Space Mono', monospace; */
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    padding: 2% 0;
}

b {
    font-size: 160px;
    color: rgb(145, 254, 144);
}

h1 {
    display: block;
    font-size: 4em;
    font-family: 'Space Mono', monospace;
    color: rgb(70, 69, 69);
}

p {
    display: block;
    width: 90%;
    font-size: 1em;
    font-family: 'Space Mono', monospace;
    color: rgb(70, 69, 69);
    padding: 1em 0 0;
}
button {
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border-width: 2px;
    color: rgb(254, 144, 144);
    border-color: rgb(70, 69, 69);
    background-color: white;
    letter-spacing: 3px;
    padding: 5px 10px;
    margin: 40px 5px;
    box-shadow: 0 10px 10px rgb(254, 144, 144, 0.7);
}

button:hover {
    background-color: red;
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
}



.navItems {
    display: flex;
}

.navItems li {
    list-style: none;
    margin: 0 60px;
}

.navItems li a {
    font-size: 50px;
    color: rgb(70, 69, 69);
    letter-spacing: 3px;
    text-decoration: none;
}

.navItems li:hover a {
    color: rgb(145, 254, 144);
}

.links a {
    font-size: 40px;
    color: rgb(70, 69, 69);
    margin: 20px 20px;
}

.links a:hover {
    color: rgb(145, 254, 144);
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    /* height: calc(100vh - 80px); */
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 300px;
    width: 600px;
    border-radius: 50%;
    left: -25%;
    top: 42%;
    background: linear-gradient(20deg,rgb(144, 219, 254),rgb(145, 254, 144),rgb(254, 144, 144));
    animation: object1 18s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 45%;
    top: 75%;
    background: linear-gradient(100deg,rgb(144, 219, 254),rgb(254, 144, 144),rgb(145, 254, 144));
    animation: object2 16s linear infinite;
}

@keyframes object1 {
    50%{
        left: 35%;
        top: 60%;
        width: 10%;
        height: 40%;
    }
    
}
@keyframes object2 {
    50%{
        left: 55%;
        top: 10%;
        width: 20%;
        height: 40%;
    }
    
}

.cols {
    width: 50%;
}
.cols0{
    z-index: 5;
    height: 100vh;
    padding-top: 18%;
    width: 150%;
}

.topline {
    display: block;
    position: relative;
    font-size: 55px;
    letter-spacing: 3px;
    color: rgb(70, 69, 69);
}

.topline::after {
    position: absolute;
    content: 'lo';
    height: 10px;
    width: 200px;
    bottom: 40px;
    background-color: rgb(254, 144, 144);
}

.multitext {
    color: rgb(144, 177, 254);
}

.btns {
    width: 100%;
    position: relative;
    left: 150px;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox img {
    position: relative;
    height: 200%;
    width: 200%;
    top: 150px;
    left: -150px;
    z-index: 8;
    animation: animateUser 5s linear infinite;
}

@keyframes animateUser {
    50% {
        left: -140px;
        top: 160px;
    }
}

.imgbox #splash {
    position: absolute;
    height: 100%;
    width: 100%;
    top:130%;
    left: -360%;
    filter: saturate(150%);
    animation: animate 25s linear infinite;
}

@keyframes animate {
    50% {
        top: 40%;
        left: -360%;
    }
}

@media screen and (max-width: 1000px){
     .imgbox{
        display: none;
     }
     nav{
        display: grid;
        padding: 5% 0 20%;
     }
     .links{
        text-align: center;
        font-size: 40%;
        position: relative;
        z-index: 50;
        top: 95vh;
        font-size: 100px;
     }
   }